<h2 class="text-center">新增商品</h2>
<div class="col-md-6 col-md-offset-3">
  <%= simple_form_for [:admin,@product] do |f| %>

  <%= f.input :title, :label => "产品名称"%>
  <%= f.input :company, :label => "企业名称"%>
  <%= f.input :description,:label => "产品描述" %>
  <%= f.input :quantity,:label => "产品数量" %>
  <%= f.input :price ,:label => "产品价格"%>
  <div class="group">
   <%= f.input :image, as: :file %>
  </div>
  <%= f.submit "Submit", data: {disable_with: "Submitting..."}%>
  <% end %>
</div>
