
<div class="product-show-box9">
  <div class="product-photos-box">
    <% if @photos.present? %>
   <div class="show-picture">
     <% @photos.each_with_index do |p,index| %>
       <% if index <1 %>
        <div class= "tab-pane <%= render_active(index) %>" id="<%= index %>"><%= image_tag (p.avatar.medium.url) %>
        </div>
       <% end %>
     <% end %>
   </div>
   <div class="show-photo-xsmall-box">
     <% @photos.each_with_index do |p,index| %>
       <% if index <5 %>
         <div class="small-product">
           <%= image_tag p.avatar.small.url%>
         </div>
       <% end %>
     <% end %>
   </div>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class:"thumbnail") %>
    <% end %>
  </div>


  <section class="product-main-box">
    <div class="title">
      <h1><%= @product.title %></h1>
    </div>
    <span class="description">
      <p><%= @product.company%></p>
    </span>
    <span class="description">
      <p><%= @product.category.name %></p>
    </span>

    <p class="xushu">
      <%= @product.description%>
    </p>
    <div class="price">
      <span>售价 :</span>
      <span>￥</span>
      <span><%= @product.price %></span>
      <span>数量 :</span>
      <span><%= @product.quantity %></span>
    </div>
    <hr/>
    <!-- 产品规格：尺寸 / 重量 / 材质 / 产地 / 备注-->
    <div class="specification">
      <ul class="fuwu">
        <li>品质保证</li>
        <li>先行赔付</li>
        <li>顺丰包邮</li>
        <li>闪电退款</li>
      </ul>
      <div class="fenxiang">
       <span>
           <% if current_user %>
            <% if !current_user.is_fan_of?(@product) %>
              <%= link_to favorite_product_path(@product), :class => "like btn btn-default", method: :post do %>
                <i class="fa fa-heart fa-lg"></i>
              <% end %>
            <% else %>
              <%= link_to unfavorite_product_path(@product), :class => "unlike btn btn-default", method: :post do %>
                <i class="fa fa-heart fa-lg"></i>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to favorite_product_path(@product), :class => "like btn btn-default",method: :post do %>
              <i class="fa fa-heart fa-lg"></i>
            <% end %>
          <% end %>
          <span> 收藏人气（<%= @product.fans.count %>）</span>
       </span>
       <span class="share">
         <span>分享:</span>
         <a href="#"><i class="fa fa-twitter"></i></a>
         <a href="#"><i class="fa fa-facebook"></i></a>
         <a href="#"><i class="fa fa-google"></i></a>
         <a href="#"><i class="fa fa-pinterest"></i></a>
         <a href="#"><i class="fa fa-wechat"></i></a>
       </span>
     </div>
    </div>
    <hr/>
    <div class="">
      <div class="pull-left">
          <% if @product.quantity > 0 %>
          <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post, class:"btn btn-lg btn-default") %>
          <% else %>
          已销售一空，无法购买
          <% end %>
      </div>

    </div>

    <br>
    <!-- 购买按钮 -->

  </section>
  <div style="clear: both;"></div>
  <!-- 评论 -->
    <div class="product-comment">
      <ul class="comment-head">
        <li role="presentation" class="active">
          <a href="#tab_default_1" data-toggle="tab">宝贝详情</a>
        </li>
        <li class="pingjia">
          <a href="#tab_default_2" data-toggle="tab">宝贝评价(<%= @product.reviews.count %>) </a>
        </li>
      </ul>
      <br />
      <div class="tab-content">
        <div class="tab-pane active" id="tab_default_1">
           <p class="product-description2 text-center">产品展示</p>
            <!--商品大图展示 -->
            <div class="product-image">
               <% @photos.each_with_index do |p,index| %>
                 <% if index <5 %>
                   <div class="small-product">
                     <%= image_tag p.avatar.url%>
                   </div>
                 <% end %>
               <% end %>
             </div>

             <p class="product-description2 text-center">常见问题</p>
           <div class="faq">
             <p class="question">顾客：请问包邮吗？</p>
             <p class="answer">包邮，默认使用顺丰快递发货，配送范围覆盖全国大部分地区（港澳台地区除外）。</p>
             <p class="question">顾客：如何申请退货？</p>
             <p class="answer">
               1.自签收之日起7日内，顾客可申请无忧退货，退款将原路返还，预计1-5个工作日到账；<br />
               2.退货流程：确认收货-申请退货-客服审核通过-用户寄回商品-仓库签收验货-退款审核-退款完成；<br />
               3.因客户个人原因产生的退货，购买和寄回运费由客户个人承担。<br />
             </p>
             <p class="question">顾客：如何开具发票？</p>
             <p class="answer">如需开具普通发票，请在下单时联系客服办理，我们将虽货物一起快递给您；</p>
           </div>
        </div><!-- End of tab_default_1 -->

       <div class="tab-pane comment-centent" id="tab_default_2">
         <p class="product-description2 text-center">商品评论</p>
            <div class="row">
              <div class="col-sm-12 ">
                <div >
                  <%= render @product.reviews%>
                  <%= render "reviews/form"%>
                </div>
              </div>
            </div>
          </div><!-- End of tab_default_2 -->
        </div><!-- End of tab-content -->
    </div>
    <div style="clear: both;"></div>
</div>
